.btn {
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.danger {
  background-color: #f43636;
}

/* Red */
.danger:hover {
  background: #da190b;
}
